@{
    ViewData["Title"] = "Admin Dashboard";
}

<section class="page-hero">
    <div class="container">
        <span class="section-tag">Admin Panel</span>
        <h1 class="section-title">Merhaba, @ViewBag.Username!</h1>
        <p class="section-subtitle">Admin Dashboard</p>
    </div>
</section>

<section class="dashboard-section">
    <div class="container">
        <p>Buraya admin'e özel şeyler koyarsın.</p>
    </div>
</section>